Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.

In [1]:
#IMPORTING ALL THE REQUIORED LIBRARIES
import selenium
import pandas as pd
from selenium import webdriver 
import numpy as np 
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver4=webdriver.Chrome("chromedriver.exe")

In [3]:
driver4.get("https://www.glassdoor.co.in/member/home/index.htm")

In [5]:
#entering job title in the search box 
search_job=driver4.find_element_by_id("sc.keyword")
search_job.send_keys("Data Scientist")

search_loca=driver4.find_element_by_id("sc.location")
search_loca.send_keys("Noida")

search=driver4.find_element_by_xpath("//span[@class='css-8zxfjs']")
search.click()

In [7]:
company=[]
name_tag=driver4.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
for i in name_tag:
    com=i.text
    company.append(com)
print (len(company))
company

30

['CommerceIQ',
 'Argoid.ai',
 'HelloSivi Software Labs',
 'UnitedHealth Group',
 'HelloSivi Software Labs',
 'Schneider Electric',
 'Kyndryl',
 'Unilever',
 'Schneider Electric',
 'CAPCO',
 'Brillio',
 'HDFC Bank',
 'Airtel India',
 'Meltwater',
 'PwC',
 'Sense Talent Labs, Inc.',
 'IBM',
 'Ola Cabs',
 'Rystad Energy',
 'Coding Invaders',
 'EagleView',
 'Deloitte',
 'Deloitte',
 'BD',
 'Green knitt',
 'Applied Materials Inc.',
 'Lenovo',
 'Canum Infotech',
 'ManpowerGroup',
 'IceCream Labs']

In [8]:
Job_title=[]
job_tag=driver4.find_elements_by_xpath("//a[@class='jobLink job-search-key-1rd3saf eigr9kq1']")
for i in job_tag:
    job=i.text
    Job_title.append(job)
print (len(Job_title))
Job_title

30

['Data Scientist (BE/ B-tech 4-6 yrs)',
 'Data Scientist Immed Hire 1-3yrs',
 'Data Scientist',
 'Data Scientist - Bangalore, KA',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Data Scientist - AI Flagship',
 'Data Scientist - WCDAO',
 'Data Scientist',
 'Data Scientist-CAI',
 'Associate Data Scientist',
 'Data Scientist - NLP',
 'Finance Data Scientist - Associate',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist II',
 'Data Scientist',
 'Student Career Coach (Data Analytics & Data Science)',
 'Data Scientist I',
 'Data Scientist',
 'D&AM- Forensic AIML/Predictive Modeling -A/SSA/LSA/SSA',
 'Data Scientist',
 'Data science',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist (1 to 3 + yrs Exp)']

In [9]:
Job_loc=[]
loc_tag=driver4.find_elements_by_xpath("//span[@class='css-1buaf54 pr-xxsm job-search-key-iii9i8 e1rrn5ka4']")
for i in loc_tag:
    loc=i.text
    Job_loc.append(loc)
print (len(Job_title))
Job_loc

30

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'India',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [10]:
posted=[]
post_tag=driver4.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")

for i in post_tag:
    try:
        po=i.text
        posted.append(po)
    except:
        posted.append("_____")
        
print (len(posted))
posted

30

['30d+',
 '3d',
 '24h',
 '15d',
 '10d',
 '9d',
 '1d',
 '5d',
 '9d',
 '3d',
 '17d',
 '30d+',
 '26d',
 '1d',
 '30d+',
 '30d',
 '27d',
 '30d+',
 '4d',
 '6d',
 '12d',
 '24d',
 '7d',
 '8d',
 '16d',
 '30d+',
 '30d+',
 '30d+',
 '23d',
 '3d']

In [12]:
job_template=pd.DataFrame({})
job_template["company name "]=company
job_template["job name"]=Job_title
job_template["job location "]=Job_loc
job_template["posed time"]=posted
job_template.index=np.arange(1,len(job_template)+1)

In [13]:
job_template

,company name,job name,job location,posed time
1,CommerceIQ,Data Scientist (BE/ B-tech 4-6 yrs),Bangalore,30d+
2,Argoid.ai,Data Scientist Immed Hire 1-3yrs,Bangalore,3d
3,HelloSivi Software Labs,Data Scientist,Bangalore,24h
4,UnitedHealth Group,"Data Scientist - Bangalore, KA",Bangalore,15d
5,HelloSivi Software Labs,Senior Data Scientist,Bangalore,10d
6,Schneider Electric,Data Scientist,Bangalore,9d
7,Kyndryl,Data Scientist,Bangalore,1d
8,Unilever,Associate Data Scientist,Bangalore,5d
9,Schneider Electric,Data Scientist - AI Flagship,Bangalore,9d
10,CAPCO,Data Scientist - WCDAO,Bangalore,3d
11,Brillio,Data Scientist,Bangalore,17d
12,HDFC Bank,Data Scientist-CAI,Bangalore,30d+
13,Airtel India,Associate Data Scientist,India,26d
14,Meltwater,Data Scientist - NLP,Bangalore,1d
15,PwC,Finance Data Scientist - Associate,Bangalore,30d+
16,"Sense Talent Labs, Inc.",Data Scientist,Bangalore,30d
17,IBM,Data Scientist: Artificial Intelligence,Bangalore,27d
18,Ola Cabs,Data Scientist II,Bangalore,30d+
19,Rystad Energy,Data Scientist,Bangalore,4d
20,Coding Invaders,Student Career Coach (Data Analytics & Data Sc...,Bangalore,6d
21,EagleView,Data Scientist I,Bangalore,12d
22,Deloitte,Data Scientist,Bangalore,24d
23,Deloitte,D&AM- Forensic AIML/Predictive Modeling -A/SSA...,Bangalore,7d
24,BD,Data Scientist,Bangalore,8d
25,Green knitt,Data science,Bangalore,16d
26,Applied Materials Inc.,Data Scientist,Bangalore,30d+
27,Lenovo,Data Scientist,Bangalore,30d+
28,Canum Infotech,Data Scientist,Bangalore,30d+
29,ManpowerGroup,Data Scientist,Bangalore,23d
30,IceCream Labs,Data Scientist (1 to 3 + yrs Exp),Bangalore,3d